/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: 'Urbanist', sans-serif;
    background-color: #090618;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

/* Contêiner da logo */
body > div {
    width: 90vw;
    display: flex;
    justify-content: space-between; /* Alinha à esquerda */
    box-sizing: border-box;
    align-items: center;
}

div > img {
    width: 300px;
    margin-left: 0;
}

/* Formulário */
form {
    background-color: #1C1A2E;
    padding: 2rem;
    border-radius: 15px;
    width: 90vw;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas na primeira linha */
    grid-template-rows: auto auto auto; /* 3 linhas */
    gap: 1rem; /* Espaço entre os itens */
    height: 60vh;
    overflow: hidden;
    align-items: center;
}

/* Labels */
form label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: #fff;
}

/* Campos de entrada */
form input {
    margin-top: 0.5rem;
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #2E2D49;
    color: #fff;
    outline: none;
    transition: 0.3s;
}

form input::placeholder {
    color: #A1A1B8;
}

form input:focus {
    background-color: #3B3858;
    box-shadow: 0 0 5px rgba(110, 78, 255, 0.5);
}

/* Botão de cadastro */
form button {
    padding: 0.8rem;
    background: linear-gradient(to right, #6E4EFF, #8E7AFF);
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(110, 78, 255, 0.5);
    height: 50px;
    margin-top: 21px;
}

form button:hover {
    background: linear-gradient(to right, #8E7AFF, #6E4EFF);
    box-shadow: 0 6px 20px rgba(110, 78, 255, 0.6);
}

/* Botão de cadastro */
button {
    padding: 0.8rem 1.5rem;
    background: linear-gradient(to right, #6E4EFF, #8E7AFF);
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    box-shadow: 0 4px 15px rgba(110, 78, 255, 0.5);
    height: 50px;
}

/* Para links dentro do botão */
button a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    margin-top: 200px;
}

button:hover {
    background: linear-gradient(to right, #8E7AFF, #6E4EFF);
    box-shadow: 0 6px 20px rgba(110, 78, 255, 0.6);
}

button a:hover {
    color: #fff; 
}