/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: 'Urbanist', sans-serif;
    background-color: #090618;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    min-height: 100vh;
    padding: 20px;
}

img {
    width: 300px;
    margin-left: 0;
}

/* Formulário */
form {
    background-color: #1C1A2E;
    padding: 2rem;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Labels */
form label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: #fff;
}

/* Campos de entrada */
form input {
    margin-top: 0.5rem;
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #2E2D49;
    color: #fff;
    outline: none;
    transition: 0.3s;
}

form input::placeholder {
    color: #A1A1B8;
}

form input:focus {
    background-color: #3B3858;
    box-shadow: 0 0 5px rgba(110, 78, 255, 0.5);
}

/* Botão de cadastro */
form button {
    padding: 0.8rem;
    background: linear-gradient(to right, #6E4EFF, #8E7AFF);
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(110, 78, 255, 0.5);
}

form button:hover {
    background: linear-gradient(to right, #8E7AFF, #6E4EFF);
    box-shadow: 0 6px 20px rgba(110, 78, 255, 0.6);
}
