{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>

    <!--  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/resultado.css' %}">
</head>
<body>
    <!-- NavBar -->
    <nav>
        <img src="" alt="Logo aqui">
        <a href="{% url 'principal' %}">Início</a>
        <a href="{% url 'listarAlimentos' %}">Alimentos Cadastrados</a>
    </nav>

    <!-- Conteúdo -->
    <h1>Sua Dieta+ Personalizada</h1>
    {% if resultado %}
        <h3>Suas necessidades diárias são:</h3>
        <ul>
            {% for chave, valor in resultado.items %}
                <li>{{ chave }}: {{ valor }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum resultado encontrado.</p>
    {% endif %}  
</body>
</html>